<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/af475c96-3f32-4f1f-8100-a3dffd6f6a3f/resourceGroups/teethsetgo/providers/Microsoft.Web/sites/teethsetgo</ResourceId>
    <ResourceGroup>teethsetgo</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://teethsetgo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>teethsetgo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>teethsetgo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$teethsetgo</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="IEDatabaseEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=teethsetgodbserver.database.windows.net;Initial Catalog=TeethSetGoDB;User ID=shua0012;Password=611240hSM;Application Name=EntityFramework" Name="Data Source=teethsetgodbserver.database.windows.net;Initial Catalog=TeethSetGoDB;User ID=shua0012;Password=611240hSM;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IEApplication.Models.IEDatabaseEntities, IEApplication" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TeethSetGoDBEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=teethsetgodbserver.database.windows.net;Initial Catalog=TeethSetGoDB;User ID=shua0012;Password=611240hSM;Application Name=EntityFramework" Name="Data Source=teethsetgodbserver.database.windows.net;Initial Catalog=TeethSetGoDB;User ID=shua0012;Password=611240hSM;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IEApplication.Models.TeethSetGoDBEntities, IEApplication" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=teethsetgodbserver.database.windows.net;Initial Catalog=TeethSetGoDB;User ID=shua0012;Password=611240hSM;Application Name=EntityFramework" Name="Data Source=teethsetgodbserver.database.windows.net;Initial Catalog=TeethSetGoDB;User ID=shua0012;Password=611240hSM;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IEApplication.Models.ApplicationDbContext, IEApplication" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=teethsetgodbserver.database.windows.net;Initial Catalog=TeethSetGoDB;User ID=shua0012;Password=611240hSM;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TeethSetGoDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ClinicsModel1.csdl|res://*/Models.ClinicsModel1.ssdl|res://*/Models.ClinicsModel1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=teethsetgodbserver.database.windows.net;Initial Catalog=TeethSetGoDB;User ID=shua0012;Password=611240hSM;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="IEDatabaseEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ClinicsModel.csdl|res://*/Models.ClinicsModel.ssdl|res://*/Models.ClinicsModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=teethsetgodbserver.database.windows.net;Initial Catalog=TeethSetGoDB;User ID=shua0012;Password=611240hSM;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>