

@{
    ViewBag.Title = "Dental Issues - Chipped Tooth";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/js/jquery_3.3.1.js"></script>
<link href="~/Content/css/StyleSheet1.css" rel="stylesheet" />
<link href="~/Content/css/problems.css" rel="stylesheet" />

<style>
    p {
        font-size: 20px;
    }
</style>
<script>
    // script for tab steps
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

        var href = $(e.target).attr('href');
        var $curr = $(".process-model  a[href='" + href + "']").parent();

        $('.process-model li').removeClass();

        $curr.addClass("active");
        $curr.prevAll().addClass("visited");
    });
    // end  script for tab steps

</script>
<!--render scripts for information tab-->
<script>

    $(document).on("click", ".naccs .menu div", function () {
        var numberIndex = $(this).index();

        if (!$(this).is("active1")) {
            $(".naccs .menu div").removeClass("active1");
            $(".naccs ul li").removeClass("active1");

            $(this).addClass("active1");
            $(".naccs ul").find("li:eq(" + numberIndex + ")").addClass("active1");

            var listItemHeight = $(".naccs ul")
                .find("li:eq(" + numberIndex + ")")
                .innerHeight();
            $(".naccs ul").height(listItemHeight + "px");
        }
    });

</script>

<div class="banner" style="background: url('../Content/img/cavities-banner.jpg') no-repeat center top;min-height:400px">
    <div class="bg-color" style="min-height:400px;">
        <div class="container">
            <div class="row">
                <div class="banner-text text-center">
                    <div class="text-border" style="border:0px;height:0;">
                        @*<h2 class="text-dec" style="padding-top:0px;padding-bottom:0px"><img src="~/Content/img/Logo.png" width="138px" height="70px" style="margin-top:0px;"></h2>*@
                    </div>
                    <div class="intro-para text-center quote" style="margin-top:0">
                        <p class="big-text" style="font-size:35px">Chipped Tooth</p>
                        <p class="small-text" style="width:60%;margin-left:20%;font-size:18px;">Teeth can chip, crack (fracture) or break. If you have a chipped tooth, you might not feel any tooth pain unless the chip is large enough to expose the nerves in the inner layer of the tooth. </p>
                        @*<a href="#courses" class="btn get-quote" style="font-size:21px">Select Your Dental Issu</a>*@
                    </div>
                    <a href="#courses" class="mouse-hover" style="display:none;">
                        <div class="mouse" style="display:none;"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="design-process-section" id="process-tab">
    <div class="container" width="85%">
        <div class="row" width="90%">
            <div class="col-xs-12" width="100%">
                <!-- design process steps-->
                <!-- Nav tabs -->
                <ul class="nav nav-tabs process-model more-icon-preocess" style="max-width:790px;margin-left:23%" role="tablist">
                    <li role="presentation">
                        <a href='@Url.Action("Index", "Home")#courses'>
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <p>Dental Problems</p>
                        </a>
                    </li>
                    <li role="presentation" class="active">
                        <a href="#strategy" aria-controls="strategy" role="tab" data-toggle="tab">
                            <i class="fa fa-clipboard" aria-hidden="true"></i>
                            <p>Problem Details</p>
                        </a>
                    </li>
                    @*<li role="presentation" class="active">
                        <a href="#strategy" aria-controls="optimization" role="tab" data-toggle="tab">
                            <i class="fa fa-qrcode" aria-hidden="true"></i>
                            <p>Category Selection</p>
                        </a>
                    </li>*@
                    <li role="presentation">
                        <a>
                            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                            <p>Price and Budget</p>
                        </a>
                    </li>
                    <li role="presentation">
                        <a>
                            <i class="fa fa-send-o" aria-hidden="true"></i>
                            <p>Find Dental Clinics</p>
                        </a>
                    </li>
                </ul>
                <!-- end design process steps-->
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="discover">
                        <div class="design-process-content">
                            <h3 class="semi-bold">Dental Problems</h3>
                            <p></p>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane active" id="strategy">
                        <div class="design-process-content" style="padding-top:0;padding-right:10px">
                            <div class="topcontainer">
                                <div class="left-element" style="width:100%;display:block">
                                    <!-- tab for symptoms-->
                                    <div class="naccs">
                                        <div class="grid">
                                            <div class="gc gc--1-of-3">
                                                <div class="menu">
                                                    <div class="active1"><span class="light"></span><span style="font-size:20px;">How do I know I have one?</span></div>
                                                    <div><span class="light"></span><span style="font-size:20px;">What to do?</span></div>
                                                    @*<div><span class="light"></span><span style="font-size:20px;">Gallery</span></div>*@
                                                </div>
                                            </div>
                                            <div class="gc gc--2-of-3">
                                                <ul class="nacc">
                                                    <li class="active1">
                                                        <div>
                                                            <p style="font-size:18px">
                                                                A chip on one of the pointed chewing surfaces of the back teeth is called a broken cusp, which is rarely painful, but it should be examined by a dental professional.<br />
                                                                <br />
                                                                <strong>Symptoms and causes of chipped tooth include:</strong><br />
                                                                •	Eating hard foods.<br />
                                                                Biting into an olive pit to chomping on an un-popped popcorn kernel, can wreak havoc on your teeth causing chips and breaks from contact with hard objects.<br /><br />

                                                                •	Accidents & trauma.<br />
                                                                Sporting accidents or even just accidentally falling over can cause a chipped tooth. <br /><br />

                                                                •	Cavities<br />
                                                                Cavities cause holes in your tooth and weaken it from the inside, leading it to break or chip as it is no longer able to support the constant biting and chewing.<br /><br />

                                                                •   Old fillings or restorations that have worn away<br />
                                                                These can leave your teeth vulnerable to chips and breaks from the constant assault of eating and drinking.<br /><br /><br /><br /><br />
                                                                <br />

                                                            </p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div>
                                                            <p>
                                                                <strong>To Relieve Pain / Discomfort:</strong><br />
                                                            <p style="font-family:'Times New Roman', Times, serif;">
                                                                •	Rinse:  Rinse your mouth with warm water.<br />
                                                                •	Press: If there is any bleeding in your mouth as a result of a chipped tooth, use a piece of gauze to apply pressure to the area.<br />
                                                                •	Cover: If you can’t see a dental professional the same day that your chipped tooth occurs, cover the chipped tooth with dental cement (available at most drugstores) to protect the remaining tooth until your appointment.<br />
                                                              
                                                                <br />
                                                            </p>
                                                            
                                                            <strong style="font-size:20px">Possible Medical Treatment:</strong>
                                                            <p style="font-family:'Times New Roman', Times, serif">
                                                                <br />
                                                                •	<span style="color:#3F51B5;">Teeth Bonding</span><br />
                                                                A composite resin (plastic) material or porcelain (layers of ceramic) is cemented to the surface of your tooth and shaped to its form. <br /><br />
                                                                •	<span style="color:#3F51B5;">Porcelain veneer</span><br />
                                                                Before attaching a veneer, your dentist will smooth away some of the tooth’s enamel to make room for the veneer.
                                                                <br /><br />
                                                                •	<span style="color:#3F51B5;">Dental onlays</span><br />
                                                                If the chip only affects a part of your tooth, your dentist may suggest a dental onlay, which is often applied to the surface of molars. <br /><br />
                                                                

                                                            </p>
                                                            </p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div>
                                                            <p>
                                                                Lemonade is any of various sweetened
                                                            </p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!--category section-->
                            </div>
                            @*<div class="row">
                                    <a id="goBackButton" class="btn-submit" style="float:left;margin-left:3%;margin-top:35px;background-color:white;color:#5FCF80;font-weight:bolder;border: 2px solid #5fcf80;font-size:15px" href="@Url.Action("Index", "Home")#courses"> Back to Dental Problems</a>
                                </div>*@

                        </div>
                        <div class="row">
                            <a id="goBackButton" class="btn-submit" style="float:left;margin-left:3%;margin-top:15px;background-color:white;color:#5FCF80;font-weight:bolder;border: 2px solid #5fcf80;font-size:15px" href="@Url.Action("Index", "Home")#courses"> Back to Dental Problems</a>
                            <a id="submitButton" href='@Url.Action("Emergency_ChippedTooth", "Home")'
                               class="btn btn--primary btn--inside uppercase" style="display:inline-block;font-size:20px;margin-top:-25%;padding:8px;margin-left:18%">
                                Get the Price>
                            </a>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="optimization">
                        <div class="design-process-content">
                            <h3 class="semi-bold">Optimization</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid unt ut laoreet dolore magna aliquam erat volutpat</p>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="content">
                        <div class="design-process-content">
                            <h3 class="semi-bold">Content</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid unt ut laoreet dolore magna aliquam erat volutpat</p>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="reporting">
                        <div class="design-process-content">
                            <h3>Reporting</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






