
@{
    ViewBag.Title = "Dental Clinics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDs7DFmUEpY4gmsmLmCIBNihn6trxxVChc&callback=initMap"></script>
<script>
    var map;
    function initMap() {
        var addButton = document.getElementById("get_location");
        addButton.onclick = handleSetCenterButtonClicked;
        var location = { lat: -27.469770, lng: 153.025131 };
        map = new google.maps.Map(document.getElementById("map"), {
        zoom: 8,
        center: location,
       });

        var markers = [];
        var contentString = [];
        var infowindow = [];
        $.get("@Url.Action("GetAllLocation","Home")", function (data, status) {
            for (var i = 0; i < data.length; i++) {

                markers[i] = new google.maps.Marker({
                    position: { lat: data[i].Lat, lng: data[i].Long },
                    map: map
                });
                contentString[i] = '<div id="content">' + '<div id="siteNotice">'
                    + '</div>' + '<h4 id="firstHeading">'+ data[i].clinicName +'</h1>' + '<div id="bodyContent">'
                    + '<p>is a public dental clinic. Please contact <strong>' + data[i].contact + '</strong> for appointments or enquiry.</p></div></div>';
                infowindow[i] = new google.maps.InfoWindow({
                    content: contentString[i]
                });
                var markerValue = markers[i]
                google.maps.event.addListener(markers[i], 'mouseover', (function (markerValue, i) {
                    return function () {
                        infowindow[i].open(map, markers[i]);
                    }
                })(markers[i], i));
                google.maps.event.addListener(markers[i], 'mouseout', (function (markerValue, i) {
                    return function () {
                        infowindow[i].close();
                    }
                })(markers[i], i));

            }

        })
}

window.onload = initMap;

function getMyLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(displayLocation);
    } else {
        alert("Oops, no geolocation support");
    }
}

function displayLocation(position) {
    showMap(position.coords);
    var latitude = position.coords.latitude;
    var longitude = position.coords.longitude;
    var div = document.getElementById("location");
    div.innerHTML = "You are at Latitude: " + latitude + ", Longitude: " + longitude;
}

var yourPos;
function showMap(coords) {
    yourPos = googleLatAndLong;
    var googleLatAndLong = new google.maps.LatLng(coords.latitude, coords.longitude);
    var mapOptions = {
        zoom: 15,
        center: googleLatAndLong,
    };
    //var mapDiv = document.getElementById("map");
    //map = new google.maps.Map(mapDiv, mapOptions);
    map.setOptions(mapOptions);
    addMarker(googleLatAndLong);
}

var marker;
var markerArray = new Array();

function addMarker(latLong) {
    var markerOptions = {
        position: latLong,
        map: map
    };
    marker = new google.maps.Marker(markerOptions);

    markerArray.push(marker);
}

// this is my setCenter method function
function handleSetCenterButtonClicked(coords) {
    getMyLocation();
    map.setCenter(yourPos);
    map.setZoom(13);
}


</script>

<div style="height:15px;"></div>
<div class="container" style="margin:100px;margin-left:10%;margin-right:10%;width:80%;height:780px;border-radius: 25px;
    border: 2px solid #5fcf80;
    padding: 20px; ">
    <h2>Queensland Dental Clinics</h2>
    <p style="font-size:18px"> In your case of dental treatment, usually would be treated as priority group and arranged in priority category waiting list.</p>
    <p style="margin-bottom:20px;font-size:18px">Please select the region you are in to find your nearby dental clinics' contact details.</p>
    <a href="#" id="get_location">Get your current location</a>
    <div id="map" style="height:600px;width:100%;margin:0;padding:0"></div>
    <div id="location"></div>
    @*<div class='tableauPlaceholder' id='viz1535535319154' style='position: relative;width:60%;height:60%'><noscript><a href='#'><img alt='Dental Clinics in Queensland ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;da&#47;data_visual_1&#47;1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='data_visual_1&#47;1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;da&#47;data_visual_1&#47;1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>
        <script type='text/javascript'>var divElement = document.getElementById('viz1535535319154'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
        <script type='text/javascript'>var divElement = document.getElementById('viz1535533740677'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>*@

    <div height="50px"></div>
    <a href='@Url.Action("Index", "Home")' class="btn-submit" style="margin-left:43%;margin-bottom:30px;background-color:white;color:#5FCF80;font-weight:bolder;border: 2px solid #5fcf80;"> Back </a>

</div>