
@{
    ViewBag.Title = "Dental Clinics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Map of Queensland Dental Clinics</h2>
(data visualization showing location and contact details of clinics)

