

@{
    ViewBag.Title = "Dental Issues - Gum Problem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/js/jquery_3.3.1.js"></script>
<link href="~/Content/css/StyleSheet1.css" rel="stylesheet" />
<link href="~/Content/css/problems.css" rel="stylesheet" />

<style>
    p {
        font-size: 20px;
    }
</style>
<script>
    // script for tab steps
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

        var href = $(e.target).attr('href');
        var $curr = $(".process-model  a[href='" + href + "']").parent();

        $('.process-model li').removeClass();

        $curr.addClass("active");
        $curr.prevAll().addClass("visited");
    });
    // end  script for tab steps

</script>
<!--render scripts for information tab-->
<script>

    $(document).on("click", ".naccs .menu div", function () {
        var numberIndex = $(this).index();

        if (!$(this).is("active1")) {
            $(".naccs .menu div").removeClass("active1");
            $(".naccs ul li").removeClass("active1");

            $(this).addClass("active1");
            $(".naccs ul").find("li:eq(" + numberIndex + ")").addClass("active1");

            var listItemHeight = $(".naccs ul")
                .find("li:eq(" + numberIndex + ")")
                .innerHeight();
            $(".naccs ul").height(listItemHeight + "px");
        }
    });

</script>

<div class="banner" style="background: url('../Content/img/cavities-banner.jpg') no-repeat center top;min-height:400px">
    <div class="bg-color" style="min-height:400px;">
        <div class="container">
            <div class="row">
                <div class="banner-text text-center">
                    <div class="text-border" style="border:0px;height:0;">
                        @*<h2 class="text-dec" style="padding-top:0px;padding-bottom:0px"><img src="~/Content/img/Logo.png" width="138px" height="70px" style="margin-top:0px;"></h2>*@
                    </div>
                    <div class="intro-para text-center quote" style="margin-top:0">
                        <p class="big-text" style="font-size:35px">Gum Problem</p>
                        <p class="small-text" style="width:60%;margin-left:20%;font-size:18px;">Gum disease may progress painlessly, producing few obvious signs, even in the late stages of the disease. </p>
                        @*<a href="#courses" class="btn get-quote" style="font-size:21px">Select Your Dental Issu</a>*@
                    </div>
                    <a href="#courses" class="mouse-hover" style="display:none;">
                        <div class="mouse" style="display:none;"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="design-process-section" id="process-tab">
    <div class="container" width="85%">
        <div class="row" width="90%">
            <div class="col-xs-12" width="100%">
                <!-- design process steps-->
                <!-- Nav tabs -->
                <div style="text-align:center">
                    <ul class="nav nav-tabs process-model more-icon-preocess" style="max-width:790px;" role="tablist">
                        <li role="presentation">
                            <a href='@Url.Action("Index", "Home")#courses'>
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <p>Dental Problems</p>
                            </a>
                        </li>
                        <li role="presentation" class="active">
                            <a href="#strategy" aria-controls="strategy" role="tab" data-toggle="tab">
                                <i class="fa fa-clipboard" aria-hidden="true"></i>
                                <p>Problem Details</p>
                            </a>
                        </li>

                        <li role="presentation">
                            <a>
                                <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                <p>Price and Budget</p>
                            </a>
                        </li>
                        <li role="presentation">
                            <a>
                                <i class="fa fa-send-o" aria-hidden="true"></i>
                                <p>Find Dental Clinics</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- end design process steps-->
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="discover">
                        <div class="design-process-content">
                            <h3 class="semi-bold">Dental Problems</h3>
                            <p></p>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane active" id="strategy">
                        <div class="design-process-content" style="padding-top:0;padding-right:10px">
                            <div class="topcontainer">
                                <div class="left-element" style="width:100%;display:block">
                                    <!-- tab for symptoms-->
                                    <div class="naccs">
                                        <div class="grid">
                                            <div class="gc gc--1-of-3">
                                                <div class="menu">
                                                    <div class="active1"><span class="light"></span><span style="font-size:20px;">How do I know I have one?</span></div>
                                                    <div><span class="light"></span><span style="font-size:20px;">What to do?</span></div>
                                                    @*<div><span class="light"></span><span style="font-size:20px;">Gallery</span></div>*@
                                                </div>
                                            </div>
                                            <div class="gc gc--2-of-3">
                                                <ul class="nacc">
                                                    <li class="active1">
                                                        <div>
                                                            <p style="font-size:18px">
                                                                Gum disease may progress painlessly, producing few obvious signs, even in the late stages of the disease.<br />
                                                                <br />
                                                                <strong>Symptoms of gum problems include:</strong><br /><br />
                                                                •	Gums that bleed during and after tooth brushing <br /><br />
                                                                •	Red, swollen, or tender gums<br /><br />
                                                                •	Persistent bad breath or bad taste in the mouth<br /><br />
                                                                •	Formation of deep pockets between teeth and gums<br /><br />
                                                                •	Loose or shifting teeth<br /><br/>
                                                                •	Changes in the way teeth fit together upon biting down, or in the fit of partial dentures.<br />


                                                                <br /><br />

                                                            </p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div>
                                                            <p>
                                                                
                                                            </p>

                                                            <strong style="font-size:20px">Possible Medical Treatment:</strong>
                                                            <p style="font-family:'Times New Roman', Times, serif">
                                                                <br />
                                                                •	<span style="color:#3F51B5;">Professional Dental Cleaning</span><br />
                                                                During a typical checkup your dentist or dental hygienist will remove the plaque and tartar from above and below the gum line of all teeth. <br /><br />
                                                                •	<span style="color:#3F51B5;">Scaling and root planning</span><br />
                                                                This is a deep-cleaning, nonsurgical procedure, done under a local anesthetic, whereby plaque and tartar from above and below the gum line are scraped away (scaling) and rough spots on the tooth root are made smooth (planning).<br /><br />


                                                            </p>
                                                            </p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div>
                                                            <p>
                                                                Lemonade is any of various sweetened
                                                            </p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!--category section-->
                            </div>
                            @*<div class="row">
                                    <a id="goBackButton" class="btn-submit" style="float:left;margin-left:3%;margin-top:35px;background-color:white;color:#5FCF80;font-weight:bolder;border: 2px solid #5fcf80;font-size:15px" href="@Url.Action("Index", "Home")#courses"> Back to Dental Problems</a>
                                </div>*@

                        </div>
                        <div class="row">
                            <div class="header-section text-center">
                                <a id="goBack" class="btn btn--primary btn--inside uppercase" style="margin-top:30px;margin-bottom:20px;float:left;margin-left:2%;font-weight:bolder;font-size:16px;display:block" href='@Url.Action("Index","Home")#courses'> < Previous </a>
                            </div>
                            <a id="submitButton" href='@Url.Action("Emergency_GumProblem", "Home")'
                               class="btn btn--primary btn--inside uppercase" style="display:inline-block;font-size:20px;margin-top:-25%;padding:8px;margin-left:20%">
                                Get the Price>
                            </a>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="optimization">
                        <div class="design-process-content">
                            <h3 class="semi-bold">Optimization</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid unt ut laoreet dolore magna aliquam erat volutpat</p>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="content">
                        <div class="design-process-content">
                            <h3 class="semi-bold">Content</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid unt ut laoreet dolore magna aliquam erat volutpat</p>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="reporting">
                        <div class="design-process-content">
                            <h3>Reporting</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>








