
@{
    ViewBag.Title = "Quiz for dental knowledge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Start a quiz for testing your dental knowledge!</h2>

<div class="container">

    <!--quiz for sensitive teeth-->
    <iframe name='proprofs' id='proprofs' width='70%' height='650' frameborder=0 marginwidth=0 marginheight=0 src='https://www.proprofs.com/quiz-school/story.php?title=mji5mtu2oayp8r&id=2291319&ew=530'></iframe><div style='font-size:10px; font-family:Arial, Helvetica, sans-serif; color:#000;text-align:left;'><a href='https://www.proprofs.com/quiz-school/story.php?title=mji5mtu2oayp8r' target='_blank' title='Test your knowledge about tooth sensitivity by ProProfs'>Test your knowledge about tooth sensitivity by ProProfs</a></div>
    <!--end quiz for sensitive teeth-->
</div>